@import './shared/colors';

.lineupBackground {
  background-image: url('../static/images/lineupImage.png');
  overflow: hidden;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.lineupWrapper {
  padding: 4rem 1rem 0 1rem;
  color: white;
  @media only screen and (max-width: 767px) {
    padding: 2rem 1rem 0 1rem;
  }
}

.lineupItem {
  font-family: 'Helvetica';
  cursor: pointer;
  font-size: 2rem;
  line-height: 4rem;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    color: $bleu-canard;
    font-size: 3rem;
  }
  @media only screen and (max-width: 767px) {
    font-size: 1rem;
    &:hover {
      color: $bleu-canard;
      font-size: 2rem;
    }
  }
}

.lineupImage {
  border: black solid 2px;
}
